.inner {
  display: flex;
  justify-content: space-between;
  padding-top: calc(var(--mantine-spacing-xl) * 4);
  padding-bottom: calc(var(--mantine-spacing-xl) * 4);
  @media (max-width: $mantine-breakpoint-md) {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0;
  }
}

.content {
  max-width: 480px;
  margin-right: calc(var(--mantine-spacing-xl) * 3);

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
    margin-right: 0;
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family: Outfit, var(--mantine-font-family);
  font-size: 44px;
  line-height: 1.2;
  font-weight: 500;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: 28px;
  }
}

.control {
  @media (max-width: $mantine-breakpoint-xs) {
    flex: 1;
  }
}

.image {
  height: 400px;
  @media (max-width: $mantine-breakpoint-md) {
    height: 250px;
  }
}

.highlight {
  position: relative;
  background-color: var(--mantine-color-blue-light);
  border-radius: var(--mantine-radius-sm);
  padding: 4px 12px;
}

.blue {
  background-color: #1c7ed6;
}

.yellow {
  background-color: #fff64c;
}

.pink {
  background-color: #ff0062a3;
}
.green {
  background-color: #15ff0052;
}
.violet {
  background-color: rgb(215, 130, 238);
}
.title span {
  font-size: 25px;
  line-height: 1.5;
}
